:root {
    --hue-neutral: 192;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
body {
    --hue: var(--hue-neutral);
    padding: 0;
    background-color: #5e3d8a;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: roboto, sans serif;
}
body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }

/*Nav bar styling*/
.navbar {
    text-transform: uppercase;
    flex-flow: row;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 15px 3px;
    margin: auto;
    font-size: 40px;
}

/*styling for question display*/
.question {
    font-weight: bolder;
    font-size: larger;
    font-family: roboto, sans serif;
    font-size: 40px;
    font-weight: 600;
    background-color: #000000;
    color: white;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 15px 3px;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 80%;
    left: 10%;
}
/*buttons stylings*/
.btn-grid {
    display: grid;
    gap: 12px;
    margin: 25px;
}

.btn {
    --hue: var(--hue-neutral);
    background-color: rgb(135, 165, 189);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    padding: 7px;
    box-sizing: border-box;
    font-size: 35px;
    font-weight: 550;
}

.btn:hover {
    border-color: rgb(241, 219, 21);
    box-shadow: 0 0 10px 4px;
}
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
.start-btn,
.next-btn {
    font-weight: bold;
    font-size: 40px;
    padding: 10px 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: auto;
}

.hide {
    display: none;
}
/*styling for stopwatch*/
.stopwatch {
    background-color: rgb(49, 61, 175);
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.75), 0 0 1px rgba(0, 0, 0, 0.15);
    padding: 10px;
    position: flex;
    left: 0;
    bottom: 0;
    max-width: 100%;
    color: white;
    text-align: center; 
}

button {
    margin: 0 5px 4px;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.75);
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: bold;
}
/*stopwatch buttons*/
.start {
    background-color: #5d5;
}

.stop {
    background-color: #d55;
}

.reset {
    background-color: rgb(196, 221, 85);
}

.display {
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
/*media query for small screen size*/
@media only screen and (max-width: 320px) {
.container {
    top: 60%;
}
.btn {
    font-size: 20px;
}
.navbar {
    margin: 0;
}
}

/*media query for medium size screen*/
@media screen and (min-width: 321px) and (max-width: 600px) {
.container {
    top: 45%;
}
}

/*media query for larger screens size*/
@media only screen and (min-width: 601px) and (max-width: 1250px) {
button {
    font-size: 30px;
}
}